﻿@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">You are not authorized</p>
        <a href="/admin/post">&larr; Back to Dashboard</a>
    </div>

</div>