@model Bloggie.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register User";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary" >
            <h4 class="card-title text-white">Register User</h4>
        </div>
        <div class="card-body">
            <form asp-action="Register" asp-controller="User" asp-area="Admin">
                <div class="mb-2">
                    <label>First Name</label>
                    <input type="text" asp-for="FirstName" class="form-control"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Last Name</label>
                    <input type="text" asp-for="LastName" class="form-control"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Email</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Username</label>
                    <input type="text" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <input type="checkbox" class="custom-checkbox" asp-for="IsAdmin"/>
                    <label>Is Admin?</label>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>