@model Bloggie.ViewModels.ResetPasswordVM

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Password Reset</h4>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id"/>
             <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin">
                <div class="mb-2">
                    <label>Username</label>
                    <input type="text" asp-for="UserName" class="form-control" disabled/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>New Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control"/>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="ConfirmPasswor" class="form-control" />
                    <span asp-validation-for="ConfirmPasswor" class="text-danger"></span>
                </div>
                
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>